.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 80px;
  overflow-x: hidden;
}
.me-auto {
  margin-left: auto;
  font-size: 18px;
}

.card-picture {
  height: 22.4rem;
  height: 22rem;
}
.justify-content-md-center {
  row-gap: 1rem;
}
.tag {
  color: blue;
}
.tag.red {
  color: red;
}
.tag.green {
  color: green;
}
