.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 80px;
  overflow-x: hidden;
}
.me-auto {
  margin-left: auto;
  font-size: 1.4rem;
}
.tag {
  color: blue;
}
.tag.red {
  color: red;
}
.tag.green {
  color: green;
}
